@font-face {
    font-family: 'my-font';
    src: url('./HKGrotesk-Regular.otf')
}
#navbar {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    
    font-size: 500;
}

.text > a{
    text-decoration: none;
    color: black;
}

.turqbar{
    height: 23px;
    width: 40%;
    background: #A5E3D7;
    margin-bottom: 4%;
}

.turqbar2{
    height: 23px;
    width: 40%;
    background: #A5E3D7;
    margin-top: 4%;
    margin-left: 18%;
}

.heading-text {
    width: 100%;
    margin-left: 15%;
}

.title-text {
    letter-spacing: 13px;
}

.hello-world {
    width: 100%;
    margin-top: 18%;
}
.turqbar-container {
    width: 100%;
}
.porto-wrapper {
    margin-top: 25%;
}
.summary-wrapper {
    background: #A5E3D7;
    width: 70%;
    height: 180px;
    margin-left: 15%;
    margin-top: 15%;
}
#skill {
    background-color: #D7DBD9;
}
#education {
    background: #61666B;
}
.porto-bar-wrapper {
    width: 80%;
    height: 500px;
}
.name-wrapper {
    letter-spacing: 20px;
    font-family: 'my-font';
    font-size: 2.6rem;
    margin-top: 15%;
}
.text-wrapper {
    width: 40%;
    font-family: 'my-font';
}
.summary-text {
    text-align: left !important;
    font-family: 'my-font';
}
.little-text {
    font-size: 1.8rem;
}
.profile-summary {
    text-align: center;
}

.profile-img {
    margin-top: 20%;
}

.skill-bar {
    background: #E1E2DA;
    width: 70%;
    height: 35px;
    margin-left: 15%;
    margin-top: 10%;
}
.filled-skill {
    height: 100%;
    background: #A5E3D7;
}

#gray {
    background: #61666B;
}

#python {
    width: 55%;
}

#english {
    width: 80%;
}

.filled-skill-gray {
    height: 100%;
    background: #61666B;
}
#design {
    width: 60%;
}

#java {
    width: 50%;
}

#teamwork {
    width: 65%;
}

#thinking {
    width: 85%;
}
.skill-wrapper {
    padding-top: 7%;
    padding-bottom: 15%;
}

.edu-text {
    margin-left: 3rem;
    text-align: left;
}

.school-exp {
    margin-left: 1rem;
    margin-top:4rem;
    margin-bottom: 1rem;

}

.school-exp-wrapper {
    padding-top: .2rem;
    padding-bottom: 2.2rem;
}

.porto-wrapper-2{
    margin-top:15%;
    margin-left :14%; 
}

#organization{
    background: #A5E3D7;
}

#work{
    background: #D7DBD9;
    padding-bottom: 40%;
}

.porto-bar-wrapper-2 {
    width: 80%;
    height: 400px;
}

.org-exp {
    margin-left: 1rem;
    margin-top:3rem;
    margin-bottom: 1rem;

}


.work-exp {
    margin-left: 1rem;
    margin-top:3rem;
    margin-bottom: 1rem;

}

.org-exp-wrapper {
    padding-top: .2rem;
    padding-bottom: 2.2rem;
}

.work-exp-wrapper {
    padding-top: .2rem;
    padding-bottom: 2.2rem;
}

.org-text {
    margin-left: 4rem;
    text-align: left;
}

.work-text {
    margin-left: 3rem;
    text-align: left;
}

.porto-wrapper-3{
    margin-top:15%;
    margin-left :14%; 
}

.porto-bar-wrapper-3 {
    width: 80%;
    height: 400px;
}