 <!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Profile</title>
  </head>
  <body style="background: url('/static/bg1.jpg'); background-size:cover;">
  <body>
    <div class="containter">
      <div class="row" id="navbar">
        <div class="col-sm text-center text">
          <a href="{% url 'home.html' %}">H O M E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'profile.html' %}">P R O F I L E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'experience.html' %}">E X P E R I E N C E</a>
        </div>
        <div class="col-sm text-center text">
          <a href="{% url 'reach-me.html' %}">R E A C H <sp>  M E</a>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="porto-wrapper-2">
            <div class="porto-title">
              <p class="porto-title-text">Organizational Experience</p>
            </div>
            <div class="porto-bar-wrapper-2">
              <div class="porto-bar text-center" id="organization">
              <div class="org-exp-wrapper">
                <div class="org-exp">
                  <img src="{% static './dpm.png' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="org-text">DPM Fasilkom UI
                  <br>Head of Public Relations</p>
              </div>
                  <div class="org-exp">
                  <img src="{% static './bem.png' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="org-text">BEM Fasilkom UI
                  <br>Project officer of WisGen</p>
              </div>
              <div class="org-exp">
                  <img src="{% static './LOGOPEREK.jpg' %}" alt="" height="50px" width="45" class="float-left">
                  <p class="org-text">Pesta Rakyat Komputer
                  <br>Secretary</p>
              </div>
                </div>
              </div>
            </div>
            </div>
            </div>

        <div class="col-md-6">
          <div class="porto-wrapper-3">
            <div class="porto-title">
              <p class="porto-title-text">Work Experience</p>
            </div>
            <div class="porto-bar-wrapper-3">
              <div class="porto-bar text-center" id="work">
              <div class="work-exp-wrapper">
                <div class="work-exp">
                  <img src="{% static './k.jpg' %}" alt="" height="50px" width="auto" class="float-left">
                  <p class="work-text">Kumon
                  <br>Part - time teacher</p>
              </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
   

  

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>